.top-menu {
  position: fixed;
  margin-top: 0;
  top: 0;
  z-index: 10000;
  background-color: #151426;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  margin: 0;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
  background-color: #FFFFFF;
  display: block;

  &.fixed {
    position: fixed;
    top: 0;
    margin-top: 0;
    z-index: 10000;
  }

  @media @moma-bear {
    top: auto;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    margin-top: 400px;
    padding: 0;
    /* Adjustment classes */
    &.hanging-header {
      height: 60px;
      .top-menu-centered {
        .hack-livet-logo {
          font-size: 3.2em;
        }
        .hack-livet-tagline {
          font-size: 0.8em;
        }
      }
    }    
  }
  @media @maxi-bear {
    margin-top: 500px;
  }
  .top-menu-centered {
    margin: 0 auto;
    margin-left: 0;
    display: inline-block;
    @media @moma-bear {
      margin-left: 27px;
    }

    .hack-livet-logo {
      font-size: 2em;
      padding: 0;
      margin: 0;
      display: inline;
      color: rgba(0,0,0,1);
      font-family: @cherrySwash;
      font-weight: normal;
      letter-spacing: -3px;
      float: left;
      text-shadow:2px 2px rgba(255,0,0,0.2);
      //.animation(colorcycle, 10s, 0, infinite);
      @media @moma-bear {
        font-size: 5em;

      }      
    }

    .hack-livet-tagline {
      display: none;
      @media @moma-bear {
        display: inline-block;
        float: left;
        font-size: 1em;
        margin-left: 2em;
        color : rgba(0,0,0,0.6);
        font-style: italic;
        font-weight: normal;
        width: 105px;
        padding-top: 8px;
        text-align: left;
        border-bottom: 3px solid rgba(255,0,0,0.9);
      }
    }
  }         
}