  @import url(http://fonts.googleapis.com/css?family=Cherry+Swash);
  @import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body {
  background-color: #e3e3e3;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: auto;    
}
.content-wrapper {
  position: relative;
  box-shadow: 0 10px 30px 10px #222;
  background-color: #e3e3e3;
}
#titlebox {
  display: none;
  color: white;
  position: fixed;
  background-color: #595b5a;
  height: 100%;
  left: 0px;
  z-index: 100;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}
#titlebox>h1 {

}
.article-wrapper {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

.child {
    cursor: pointer;
    *display:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    vertical-align: top;
    z-index: 0;
    overflow: hidden;
    margin-top: 2%;
    box-shadow: 1px 1px 5px 0.2px #BBB;
}
/** Block specific css **/
  
  .child:hover {
     -webkit-transition   : background-color 700ms ease;
     -moz-transition      : background-color 700ms ease;
     -o-transition        : background-color 700ms ease;
     -ms-transition       : background-color 700ms ease;
     transition           : background-color 700ms ease;
  }
    .child:active {
     -webkit-transition   : background-color 100ms ease;
     -moz-transition      : background-color 100ms ease;
     -o-transition        : background-color 100ms ease;
     -ms-transition       : background-color 100ms ease;
     transition           : background-color 100ms ease;
  }

  /** start Block jobb **/
  .child.jobb { background-color    : #B259A8; }
  .child.jobb:hover { background-color    : #60305A; }
  .child.jobb:active { background-color    : #442342; }
  /** end Block jobb **/

  /** start Block hjemme **/
  .child.hjemme { background-color    : #48B3CC; }
  .child.hjemme:hover { background-color    : #20505B; }
  .child.hjemme:active { background-color    : #17393F; }
  /** end Block hjemme **/

  /** start Block mat **/
  .child.mat { background-color    : #87B200; }
  .child.mat:hover { background-color    : #496000; }
  .child.mat:active { background-color    : #374400; }
  /** end Block mat **/

  /** start Block livsstil **/
  .child.livsstil { background-color    : #7966B2; }
  .child.livsstil:hover { background-color    : #3A3156; }
  .child.livsstil:active { background-color    : #26223A; }
  /** end Block livsstil **/

  /** start Block ferie **/
  .child.ferie { background-color    : #E59E00; }
  .child.ferie:hover { background-color    : #634400; }
  .child.ferie:active { background-color    : #472F00; } 
  /** end Block ferie **/

  /** start Block trening **/
  .child.trening { background-color    : #E5542C; }
  .child.trening:hover { background-color    : #5E2212; }
  .child.trening:active { background-color    : #42160D; } 
  /** end Block trening **/  

/** end Block specific css **/

.inner{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow: hidden;
  z-index: 40;
  box-sizing: border-box;
  transition: width 80ms, height 80ms, box-shadow 80ms, margin-left 80ms, margin-top 80ms, box-shadow 80ms;
}

article h1 {
  text-align: left;
  position: relative;
  font-family: 'Cherry Swash', cursive;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0pt;
  font-size: 2em;
  line-height: 1em;
  margin: 0px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 125;
  text-shadow:2px 2px rgba(0, 0, 0, 0.2);
  transition: all 200ms linear;
}
article h2 {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px; 
  opacity: 0.6;
  padding-top: 10px;
  padding-left: 20px;  
  font-family: 'Droid Sans', sans-serif;
  font-weight: normal;
  text-align: center;
  position: relative;
  z-index: 125;
  transition: all 200ms linear;
}
article img {
  position:relative;
  width: 100%;
}
article p {
  display: none;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  line-height: 25px;
  padding: 10px;
  margin: 0px;
}
#article {
  position: fixed;
  top:0;
  left: 0;
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  height: 100%;
  z-index: 400;
  background: rgba(0, 0, 0, .8);
}
#article article {
  position: relative;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  margin: 0 auto;
  color: black;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  cursor: default;
}
#article .open-article-button {
  display: none;
}
#article h1,
#article h2 {
  padding-left: 40px;
  padding-right: 40px;
}
#article article h1,
#article article h2 {
  color: black;
}
#article article h1 {
  margin-top: 95px;
  font-size: 60px;
  line-height: 60px;
}
#article article h2 {
  margin-bottom: 40px;
}
#article article p {
  display: block;
  padding-left: 100px;
  padding-right: 100px;
}
#article a {
}
#article .button-container {
  position: fixed;
  top: 0;
  display: block;
  z-index: 500;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-color: #C0392B;
  box-sizing: border-box;
}
.button-container button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #C0392B;
  font-size: 1.5em;
  text-shadow:2px 2px rgba(0, 0, 0, 0.2);
  border: 0;
  color: #FFFFFF;
}
.button-container button:hover {
  background-color: #E74C3C;
}
.button-container button:active {
  background-color: #E74C3C;
}
.button-container .prev-button {
  float: left;
}
.button-container .next-button {
  float: right;
}
.button-container {
  display: none;
}
.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}
.child .inner>img {
  top: 0;
  position: absolute;
  width:300%;
  margin-left: -50px;
  z-index: 10;
  opacity: 0.07;
}

/* Start 3d button flipper */
.flip-card-container {
  width: 100%;
}
.open-button-container {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  z-index: 60;
  perspective: 100;
  -webkit-perspective: 100;
}

.card-flip {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 100ms linear;    
  transform-style: preserve-3d;
  transition: all 300ms linear;
  vertical-align:bottom;
}
.card-flip>img {
  top: 0;
  position: absolute;
  width:300%;
  margin-top: -200px;
  margin-left: -50px;
  z-index: 10;
  opacity: 0.07;
  bottom: 0;
}
.child:hover .card-flip {
  -webkit-transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  text-align: center; 
}

.face.front {
  color: #FFFFFF;
}
.face.front img {
  width: 100%;
}

.face.back {
  display: block;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  vertical-align: middle;
}

 .open-article-button {
  position: relative;
  border-radius: 60px;
  border: none;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 1em;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  cursor:pointer;
  background-color: transparent;
  border: 3px solid #FFFFFF;
  box-shadow: 0px 1px 1px 10px rgba(255, 255, 255, .5);
  transition: all 100ms;
 }

 .open-article-button:active {
  opacity: 0.5;
 }

 .open-article-button {
  -webkit-animation: box-shadow 450ms linear infinite;
 }

@-webkit-keyframes box-shadow {
  0% {
      box-shadow: 0px 1px 1px 10px rgba(255, 255, 255, .5);
  }
  50% {
      box-shadow: 0px 1px 1px 15px rgba(255, 255, 255, .5);
  }
 100% {
      box-shadow: 0px 1px 1px 10px rgba(255, 255, 255, .5);
  }
}

@-webkit-keyframes rotate-block {
  0% {
      box-shadow: 0px 1px 1px 10px rgba(255, 255, 255, .5);
  }
  50% {
      box-shadow: 0px 1px 1px 15px rgba(255, 255, 255, .5);
  }
 100% {
      box-shadow: 0px 1px 1px 10px rgba(255, 255, 255, .5);
  }
}

/* End 3d button flipper  */ 
/* start logo box */
.top-menu {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #EEF0F0;
  text-align: center;
  vertical-align: middle; 
}
.hack-livet-logo {
  width: 50%;
  margin-top: 20px;
}
.hack-livet-tagline {
  display: block;
  font-family: 'Cherry Swash', cursive;
  font-size: 18px;
  color: #888;
  margin-bottom: 30px;
  text-align: center;
}
/* end logo box */

/* start Media queries */
  /* iPad Landscape */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .card-flip {
      -webkit-transition: all 500ms 0ms linear;
    }
  }
  /* iPad Portrait */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  }
  /* iPhone v(*) portrait */
  @media all and (max-device-width: 480px) and (orientation: portrait)  {
    .hack-livet-logo {
        width: 95%;
      }
    article h1 {
      font-size: 4.5em;
      line-height: 1.2em;
    }
    article h2 {
      font-size: 2em;
    }
    .flip-card-container {
      margin-top: 50px;
    }
    .open-button-container {
      width: 300px;
      height: 300px;
      
    }
    .child {
      margin-bottom: 40px;
    }
    #article article {
      width: 100%;
    }
    .open-article-button {
      text-align: center;
      font-size: 2.5em;
      border-radius: 140px;
      width: 70%;
      height: 70%;
      border: 8px solid #FFFFFF;
    }
    #article .inner article h1 {
      font-size: 6.5em;
      line-height: 1.2em;
    }
    #article h2 {
      font-size: 50px;
    }
    #article p {
      font-size: 3.2em;
      line-height: 1.4em;
    }
    #article .button-container button {
      font-size: 3.2em;
      padding: 10px;
    }
    .hack-livet-tagline {
      font-size: 2.0em;
    }
  }


   
  /* iPhone v(*) landscape */
  @media all and (max-device-width: 480px) and (orientation: landscape)  {
    .hack-livet-logo {
        width: 80%;
      }
    article h1 {
      font-size: 4em;
      line-height: 1em;
    }
  }  
  /* Desktop */
  @media only screen and (min-width: 1025px) { 
  }
/* end Media queries */ 
/* helper classes */
.hidden {
  display: none;
}

  .right-menu-container {
    position: fixed;
    width: 50%;
    z-index: 0;
    background-color: #444;
    color: #FFFFFF;
    height: 100%;
    right: 0;
  }
  .right-menu-container ul {
    float: right;
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
  }
  .right-menu-container ul li button {
    padding: 20px;
    background-color: transparent;
    border : 0;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Droid sans';
    font-size: 16px;
  }
  .right-menu-container ul li {
    cursor: pointer;
    border-bottom: 1px solid #777;
  }
  .right-menu-container ul li:first-child {
    padding: 20px;
    font-family: 'Cherry Swash', cursive;
    font-size: 20px;
  }
  .right-menu-container ul li:hover {
    background-color: #555;
  }
  .right-menu,
  .right-menu-selected
   {
    float: right;
    padding: 20px;
    border: 0;
    margin: 0;
  }
  .left-menu {
    float: left;
  }
  .wipe-right {
    -webkit-animation: wipeRight 1s;
    margin-right: 20%;
  }
  .hide-wipe-right {
    -webkit-animation: hideWipeRight 1s;
    -webkit-animation-fill-mode: forwards;
  }  
  @-webkit-keyframes hideWipeRight {
    20% {
        margin-right:25%;
    }
    100% {
      margin-right: 0;
    }
  }  
  @-webkit-keyframes wipeRight {
    20% {
        margin-right:25%;
    }
    80% {
        margin-right:20%;
    }
  }