@import url(http://fonts.googleapis.com/css?family=Cherry+Swash);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import "base.less";


html{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: #444;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: auto;
  font-family: @droidSans;    
}



.content-wrapper {
  position: relative;
  background-color: #FFFFFF;
  height: 100%;

.top-menu {
  position: absolute;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #151426;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  margin: 0;
  height: 60px;
  margin-top: 370px;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
  background-color: #FFFFFF;
  z-index: 400;
  display: block;

  @media @desktop {
    padding: 0;
  }
  .top-menu-centered {
    margin: 0 auto;
    display: inline-block;

    .hack-livet-logo {
      padding: 0;
      margin: 0;
      display: inline;
      color: rgba(0,0,0,1);
      font-family: @cherrySwash;
      font-weight: normal;
      letter-spacing: -2px;
      float: left;
      //.animation(colorcycle, 10s, 0, infinite);
      @media @desktop {
        font-size: 3em;

      }    
    }

    .open-slide-menu {
      border: 0;
      padding: 0;
      margin: 0;
      background-color: transparent;
      height: 60px;
      width: 60px;
      display: inline;
      background: url(../img/icon/open-slide-menu.svg) no-repeat;
      background-size: 60%;
      background-position: 0 50%;
      opacity: 0.5;
      float: left;
      cursor:pointer;      
    }
  }         
}

  .article-wrapper {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    text-align: center;

    @media @desktop {
      padding: 0px;
      width: 100%;
      max-width:100%;
      background-color: rgb(240, 240, 240);
    }

    &.left-wipe {
      left: 300px;
    }
    &.right-wipe {
      right: 300px;
    }


    .child {
      cursor: pointer;
      *display:inline;/* For IE7*/
      *zoom:1;/* For IE7*/
      vertical-align: top;
      z-index: 0;
      overflow: hidden;
      position: relative;
      width: 100%;

      &:hover {
        .child-overlay {
          box-shadow: 0px 0px 50px 30px rgba(0,0,0,0.15)  inset;
          background-color: rgba(64, 138, 208, 0.0);
          .transition(box-shadow 100ms linear 0s);
        }
        article {
          .animation(jumphover, 200ms, 0s, ease, forwards);
        }
      }

      @media @desktop {
        height: 270px;
        width: 30%;
        display: inline-block;
        margin-left: 1%;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          height: 370px;
          float: left;
          article{
            p {
              display: none;
            }
          }
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          margin-top: 100px;
        }

        &:nth-child(1) {
          position: relative;
          margin: 0;
          padding: 0;
          width: 33%;
        }

        &:nth-child(2) {
          position: relative;
          margin: 0;
          padding: 0;
          width: 34%;
        }

        &:nth-child(3) {
          position: relative;
          margin: 0;
          padding: 0;
          width: 33%;
        }

        &:nth-child(1n+4) {
          height: auto;
          background-color: #FFFFFF;
          border-radius: 10px;
          margin-bottom: 20px;
          .article-header {
            width: 100%;
            height: auto;
            left: 0;
            margin-left: 0;
            position:relative;
          }
          .child-overlay {
            display: none;
          }
          article {
            height: auto;
            position:relative;
            bottom: auto;
            background-color: #FFFFFF;
            box-shadow: 0 0 0 0 rgba(255,255,255,1);
            margin-bottom: 20px;
            h1 {
              color: rgba(0,0,0,0.6);
            }
            h2 {
              color: rgba(0,0,0,0.4);
            }
            p {
              display: none;

              &:first-of-type {
                
                color: rgba(0,0,0,0.5);
                display: block;
                line-height: 1.4em;
                height:10em;
                overflow: hidden;
                margin-left: 20px;
                margin-right: 20px;
                padding-top: 22px;
                border-top: 1px solid rgba(0,0,0,0.1);

                &:after {
                  content: "";
                  text-align: center;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 4.8em;
                  background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 18%, rgba(255,255,255,0) 100%);                 
                }
              }
            }
          }
        }                
      }
      .child-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        @media @desktop {
          box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.10)  inset;
          .transition(box-shadow 100ms linear 0s);
        }
      }

      &#article {
        position: absolute;
        top:0;
        left: 0;
        margin-top: 0px;
        margin-left: 0px;
        width: 100%;
        z-index: 400;
        background: rgba(255, 255, 255, 1);
        overflow: scroll;

        article {
          position: relative;
          z-index: 500;
          width: 100%;
          max-width: 900px;
          background: rgba(255, 255, 255, 1);
          margin: 0 auto;
          color: black;
          box-sizing: border-box;
          cursor: default;

          h1,
          h2 {
            color: black;
            padding-left: 40px;
            padding-right: 40px;
          }

          h1 {
            margin-top: 95px;
            font-size: 4.5em;
            line-height: 1.2em;
          }

          h2 {
            margin-bottom: 40px;
            font-size: 2em;
          }

          p {
            display: block;
            padding-left: 100px;
            padding-right: 100px;
            font-size: 3.2em;
            line-height: 1.4em;           
          }
        }

      }

      article {
        width: 100%;
        height: 100%;
        position: absolute;
        box-shadow: 0px 0px 30px 30px rgba(0,0,0,0.15)  inset;

        @media @desktop {
          height: auto;
          bottom: 0;
          .box-sizing(border-box);
          background-color: @tab-background;
        }        
        

        h1 {
          position: relative;
          font-family: @cherrySwash, cursive;
          font-size: 1.5em;
          font-weight: normal;
          color: #FFFFFF;
          text-align: center;
          padding: 10px;
          letter-spacing: 0;
          line-height: 1em;
          z-index: 125;
          text-shadow:2px 2px rgba(0, 0, 0, 0.2);

          @media @desktop {
            font-size: 2em;
            padding-left: 40px;
            padding-right: 40px;
            line-height: 1.2em;
            margin: 0 0 0 0;
          }
        }

        h2 {
          color: #FFFFFF;
          font-size: 16px;
          line-height: 20px; 
          opacity: 0.6;
          padding: 0;
          margin: 0;  
          font-weight: normal;
          text-align: center;
          position: relative;
          z-index: 125; 
          @media @desktop {
            margin-bottom: 20px;
          }
        }
        img {
          position:relative;
          width: 100%;
        }
        p {
          font-size: 16px;
          line-height: 25px;
          margin: 0px;
        }
      }
      .article-header {
        height: 100%;
        margin-left: -30%;
        position: absolute;
        z-index: 0;
        @media @desktop {
          width: auto;
          height: 105%;
          left: -50%;
        }
      }
    }    
  }
}

.left-menu-container {
  position: fixed;
  width: 50%;
  z-index: 0;
  background-color: #444;
  color: #FFFFFF;
  height: 100%;
  left: 0;

  ul {
    float: left;
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;

    li {
      cursor: pointer;
      border-bottom: 1px solid #777;  
      
      &:first-child {
        padding: 20px;
        font-family: @cherrySwash;
        font-size: 20px;
        @media screen and (max-device-width: 480px) and (orientation:portrait) {
        }
      }

      button {
        padding: 20px;
        background-color: transparent;
        border : 0;
        cursor: pointer;
        color: #FFFFFF;
        font-size: 16px;

        @media screen and (max-device-width: 480px) and (orientation:portrait) {          
        }
      }
    }
  }
}


/* end logo box */
/* helper classes */
.hidden {
  display: none;
}


/** Color specific changes **/
/** No inheritance because of specificity **/

.jobb {
  .child-overlay { 
    background-color    : @jobb;
  }  
}

.livsstil {        
  .child-overlay { 
    background-color    : @livsstil;         
  }
}

.mat {      
  .child-overlay { 
    background-color    : @mat;         
  }
}

.trening {       
  .child-overlay { 
    background-color    : @trening;         
  }
}
