

/** MIXINS **/

.radial-gradient (@position, @shape, @color-start, @color-end) {
  background : -webkit-radial-gradient(@position, @shape, @color-start, @color-end);
  background : -moz-radial-gradient(@position, @shape, @color-start, @color-end);
  background : -ms-radial-gradient(@position, @shape, @color-start, @color-end);
  background : -o-radial-gradient(@position, @shape, @color-start, @color-end);
  background : radial-gradient(@shape at @position, @color-start, @color-end);  
}
.animation (@name, @duration: 300ms, @delay: 0s, @ease: ease, @fill-mode: none) {
  -webkit-animation: @name @duration @delay @ease @fill-mode;
  -moz-animation:    @name @duration @delay @ease @fill-mode;
  -ms-animation:     @name @duration @delay @ease @fill-mode;
  animation:         @name @duration @delay @ease @fill-mode;
}

.box-sizing (@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing:    @type;
  box-sizing:         @type;
}

.transition (@transition) {
  -webkit-transition: @transition;  
  -moz-transition:    @transition;
  -ms-transition:     @transition; 
  -o-transition:      @transition;  
}

@-webkit-keyframes aboutMe {.aboutMeKeyframes;}
@-moz-keyframes aboutMe {.aboutMeKeyframes;}
@-ms-keyframes aboutMe {.aboutMeKeyframes;}
@-o-keyframes aboutMe {.aboutMeKeyframes;}
@keyframes aboutMe {.aboutMeKeyframes;}

@-webkit-keyframes blinkingLogo {.blinkingLogoKeyframes;}
@-moz-keyframes blinkingLogo {.blinkingLogoKeyframes;}
@-ms-keyframes blinkingLogo {.blinkingLogoKeyframes;}
@-o-keyframes blinkingLogo {.blinkingLogoKeyframes;}
@keyframes blinkingLogo {.blinkingLogoKeyframes;}

@-webkit-keyframes colorcycle {.colorcycleKeyframes;}
@-moz-keyframes colorcycle {.colorcycleKeyframes;}
@-ms-keyframes colorcycle {.colorcycleKeyframes;}
@-o-keyframes colorcycle {.colorcycleKeyframes;}
@keyframes colorcycle {.colorcycleKeyframes;}

@-webkit-keyframes jumphover {.jumphoverKeyframes;}
@-moz-keyframes jumphover {.jumphoverKeyframes;}
@-ms-keyframes jumphover {.jumphoverKeyframes;}
@-o-keyframes jumphover {.jumphoverKeyframes;}
@keyframes jumphover {.jumphoverKeyframes;}

.aboutMeKeyframes () {
  10% {
    height: 100px;
  }
  15% {
    height: 90px;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

.jumphoverKeyframes () {
  100% {padding-top: 20px;}
}

.blinkingLogoKeyframes () {
  0%   {opacity: 0.2;}
  25%  {opacity: 0.3;}
  30%  {opacity: 0.6;}
  70%  {opacity: 0.3;}
  71%  {opacity: 0.4;}
  72%  {opacity: 0.3;}
  73%  {opacity: 0.4;}
  80%  {opacity: 0.5;}
  100%  {opacity: 0.2;}
}

.colorcycleKeyframes () {
  25%  {
    letter-spacing: -5px;
  }
}

/** MEDIA QUERY VARIABLES **/
@maxi-bear : ~"(min-width: 1281px)";
@papa-bear : ~"(min-width: 1025px)";
@moma-bear: ~"(min-width: 1000px)";
@brother-bear: ~"(min-width: 700px)";
@baby-bear: ~"(max-width: 480px)";
@portrait: ~"(orientation: portrait)";


/** FONTS **/

@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600|Merriweather|Dancing+Script);

@logoFont : 'Dancing Script';
@headerFont : 'Raleway';
@bodyFont : 'Merriweather';

/** FONT SIZES **/ 
@baby         : 0.85em;
@preschooler  : 1em;
@teen         : 1.4em;
 
 /** COLOR VARIABLES **/
@cyanBlue : rgba(42, 192, 255, 0.4);
@magentaPurple : rgba(230, 31, 144, 0.4);
@purpleNurple : rgba(111, 31, 230, 0.4);
@orangeFaded : rgba(230, 148, 31, 0.4);


@tab-background : rgba(0,0,0,0.5);
@hacklivet-red : rgba(255,0,0,0.9);;
@child-les-mer : rgba(255,0,0,0.8);
@child-hvit : rgba(255,255,255,1);
@inverse-text : rgba(255,255,255,1);
@text : rgba(0,0,0,1);

/** Third party mixins **/
@import "_linear-gradient.less";