@import "_base";


html{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0,0,0,0.08);
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: auto;
  font-family: @droidSans;
}

a {
  color: rgba(0,0,0,1);
  text-decoration: none;
  @media @papa-bear {
    &:hover {
      text-decoration: none;
      color: rgba(0,0,0,1);
    }
    &:visited {
      color: rgba(0,0,0,0.8);
    }
  }
}

@import "_top_menu";

.content-wrapper {
  position: relative;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;

  .article-wrapper {
    max-width:100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @media @brother-bear {
    }
    @media @moma-bear {
      padding-top: 47px;
      padding-top: 0;
    }
    .child {
      *display:inline;/* For IE7*/
      *zoom:1;/* For IE7*/
      z-index: 0;
      display: block;
      position:relative;
      width: 100%;
      background-color : rgba(0,0,0,1);

      &:nth-child(1) {
      }
      &:active {
        h2:after {
          text-decoration: underline;
        }
      }
      .wp-post-image {
          height: auto;
          width: 100%;

          @media @moma-bear {
            width: auto;
            height: 100%;
            margin-left: -27%;
        }
      }
      .ribbon {
        position: absolute;
        z-index: 100;
        padding: 0.4em 0.4em 0.4em 1.4em;
        color: rgba(255,255,255,0.8);
        margin-top: 0.4em;
        &.newest {
          .linear-gradient(fadein(@cyanBlue, 20%), fadein(@purpleNurple, 20%), top-diagonal);
        }
        &.newer {
          .linear-gradient(fadein(@purpleNurple, 20%), fadein(@magentaPurple, 20%), top-diagonal);
        }
        &.new {
          .linear-gradient(fadein(@magentaPurple, 20%), fadein(@orangeFaded, 20%), top-diagonal);
        }
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        @media @moma-bear {
          .wp-post-image {
            max-height: 500px;
          }
        }
      }
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        display: none;
      }      
      &:nth-child(1n+4) {
        .ribbon {
          display: none;
        }
        .wp-post-image {
          @media @moma-bear {
            width: 100%;
            height: auto;
            margin-left: 0;
          }
        }
      }
      @media @moma-bear {
        vertical-align: top;
        overflow: hidden;
        height: 270px;
        width: 30%;
        display: inline-block;
        margin-left: 1%;
        @media @papa-bear {
          &:hover {
            h1 {
              a {
                background-color: rgba(255,0,0,0.9);
              }
            }
          }
        }

        &:nth-child(1) {
          margin-top: 0;
          .child-overlay {
            .linear-gradient(@cyanBlue, @purpleNurple, top-diagonal);
          }
        }
        &:nth-child(2) {
          border-left: 3px solid rgba(0,0,0,1);
         .child-overlay {
            .linear-gradient(@purpleNurple, @magentaPurple, top-diagonal);
          } 
        }
        &:nth-child(3) {
          border-left: 3px solid rgba(0,0,0,1);
          .child-overlay {
            .linear-gradient(@magentaPurple, @orangeFaded, top-diagonal);
          }         
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          height: 500px;
          float: left;
          .child-overlay {
            top: 0;
          }
          @media @papa-bear {
            &:hover {
              .child-overlay {
                background-image: none;
                background-color: rgba(64, 138, 208, 0.0);
                .transition(box-shadow 100ms linear 0s);
                display: none;
              }
              article {
              }
            }
          }

          article{
            h1 {
              letter-spacing: 0.5px;
              padding-left: 20px;
              padding-right: 20px;
              font-size: 1.7em;
              a {
                color: rgba(255,255,255,0.95);
              }
              word-wrap: break-word;
            }
            .date-and-author {
              color: rgba(255,255,255,0.5);
              text-align: right;
              padding: 20px;
              font-size: @baby;
              .author {
                a {
                  color: #FFFFFF;
                }
              }
            }
            h2 {
              display: none;
            }
          }
        }

        &:nth-child(1) {
          position: relative;
          margin: 0;
          padding: 0;
          width: 33%;
        }

        &:nth-child(2) {
          position: relative;
          margin: 0;
          padding: 0;
          width: 34%;
        }

        &:nth-child(3) {
          position: relative;
          margin: 0;
          padding: 0;
          width: 33%;
        }
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7) {
            display: inline-block;
            margin-top: 140px;
        }
        &:nth-child(1n+4) {
          background-color: #FFFFFF;
          margin-bottom: 20px;
          height: auto;
          @media @papa-bear {
            &:hover {
              h1,
              h1,
              p {
                a {
                  color: #FFFFFF;
                  background-color: rgba(255,0,0,0.8);
                }
              }
            }
          }
          .article-header-wrapper img {
          }
          .child-overlay {
            display: none;
          }
          article {
            position:relative;
            bottom: auto;
            background-color: #FFFFFF;
            box-shadow: 0 0 0 0 rgba(255,255,255,1);
            margin-bottom: 10px;
            h1 {
              font-weight: normal;
              color: rgba(0,0,0,0.6);
              text-shadow: none;
            }
            .date-and-author {
              color: rgba(0,0,0,0.4);
              font-size: @baby;
            }
            h2 {
              font-size: @baby;
              text-align: left;
              padding: 10px;
              line-height: 1.6em;
              color: fadeout(@text, 20%);
            }
          }
        }
      }
      @media @maxi-bear {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          height: 500px;
        }
      }
      .child-overlay {
        display: none;
        @media @papa-bear {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.10)  inset;
          .transition(box-shadow 100ms linear 0s);
        }
      }
      @import "_article_base";
    }
  }
}

@import "_left_menu_container";


/* end logo box */
/* helper classes */
.hidden {
  display: none;
}

/** Color specific changes **/
/** No inheritance because of specificity **/

.search {
  display : none;
}
.sidebar {
  display: none;
}

.fb-like {
  z-index: 150;
  margin-left: 20px;

  &.desktop {
    display: none;

    @media @moma-bear {
      display: inline-block;
    }
  }

  &.mobile {
    vertical-align: top;
    margin-top: 14px;
    display: inline-block;

    @media @moma-bear {
      display: none;
    }
  }
}