@import url(http://fonts.googleapis.com/css?family=Cherry+Swash);

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
/** MIXINS **/
@-webkit-keyframes blinkingLogo {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.3;
  }
  71% {
    opacity: 0.4;
  }
  72% {
    opacity: 0.3;
  }
  73% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
@-moz-keyframes blinkingLogo {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.3;
  }
  71% {
    opacity: 0.4;
  }
  72% {
    opacity: 0.3;
  }
  73% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
@-ms-keyframes blinkingLogo {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.3;
  }
  71% {
    opacity: 0.4;
  }
  72% {
    opacity: 0.3;
  }
  73% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
@-o-keyframes blinkingLogo {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.3;
  }
  71% {
    opacity: 0.4;
  }
  72% {
    opacity: 0.3;
  }
  73% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes blinkingLogo {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.3;
  }
  71% {
    opacity: 0.4;
  }
  72% {
    opacity: 0.3;
  }
  73% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
@-webkit-keyframes colorcycle {
  25% {
    letter-spacing: -5px;
  }
}
@-moz-keyframes colorcycle {
  25% {
    letter-spacing: -5px;
  }
}
@-ms-keyframes colorcycle {
  25% {
    letter-spacing: -5px;
  }
}
@-o-keyframes colorcycle {
  25% {
    letter-spacing: -5px;
  }
}
@keyframes colorcycle {
  25% {
    letter-spacing: -5px;
  }
}
@-webkit-keyframes jumphover {
  100% {
    padding-top: 20px;
  }
}
@-moz-keyframes jumphover {
  100% {
    padding-top: 20px;
  }
}
@-ms-keyframes jumphover {
  100% {
    padding-top: 20px;
  }
}
@-o-keyframes jumphover {
  100% {
    padding-top: 20px;
  }
}
@keyframes jumphover {
  100% {
    padding-top: 20px;
  }
}
/** MEDIA QUERY VARIABLES **/
/** FONTS **/
/** FONT SIZES **//** COLOR VARIABLES **/
/** Third party mixins **/
/** Snatched from danieltotts Less-CSS-Toolkit **/
/** https://github.com/danieltott/Less-CSS-Toolkit/blob/master/toolkit.less **/
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(0, 0, 0, 0.08);
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: auto;
  font-family: 'Droid Sans';
}
a {
  color: #000000;
  text-decoration: none;
}
.content-wrapper {
  position: relative;
  height: 100%;
}
.content-wrapper .top-menu {
  position: fixed;
  margin-top: 0;
  top: 0;
  z-index: 10000;
  background-color: #151426;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  margin: 0;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  display: block;
}
.content-wrapper .top-menu.fixed {
  position: fixed;
  top: 0;
  margin-top: 0;
  z-index: 10000;
}
@media (min-width: 1000px) {
  .content-wrapper .top-menu {
    top: auto;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    margin-top: 400px;
    padding: 0;
    /* Adjustment classes */
  
  }
  .content-wrapper .top-menu.hanging-header {
    height: 60px;
  }
  .content-wrapper .top-menu.hanging-header .top-menu-centered .hack-livet-logo {
    font-size: 3.2em;
  }
  .content-wrapper .top-menu.hanging-header .top-menu-centered .hack-livet-tagline {
    font-size: 0.8em;
  }
}
@media (min-width: 1281px) {
  .content-wrapper .top-menu {
    margin-top: 500px;
  }
}
.content-wrapper .top-menu .top-menu-centered {
  margin: 0 auto;
  margin-left: 0;
  display: inline-block;
}
@media (min-width: 1000px) {
  .content-wrapper .top-menu .top-menu-centered {
    margin-left: 27px;
  }
}
.content-wrapper .top-menu .top-menu-centered .hack-livet-logo {
  font-size: 3em;
  padding: 0;
  margin: 0;
  display: inline;
  color: #000000;
  font-family: 'Cherry Swash';
  font-weight: normal;
  letter-spacing: -3px;
  float: left;
  text-shadow: 2px 2px rgba(255, 0, 0, 0.2);
}
@media (min-width: 1000px) {
  .content-wrapper .top-menu .top-menu-centered .hack-livet-logo {
    font-size: 5em;
  }
}
.content-wrapper .top-menu .top-menu-centered .hack-livet-tagline {
  display: none;
}
@media (min-width: 1000px) {
  .content-wrapper .top-menu .top-menu-centered .hack-livet-tagline {
    display: inline-block;
    float: left;
    font-size: 1em;
    margin-left: 2em;
    color: rgba(0, 0, 0, 0.6);
    font-style: italic;
    font-weight: normal;
    width: 105px;
    padding-top: 8px;
    text-align: left;
    border-bottom: 3px solid rgba(255, 0, 0, 0.9);
  }
}
.content-wrapper .top-menu {
  position: fixed;
  top: 0;
  margin-top: 0;
  height: 60px;
}
.content-wrapper .top-menu .top-menu-centered .hack-livet-logo {
  font-size: 3.2em;
}
.content-wrapper .top-menu .top-menu-centered .hack-livet-tagline {
  font-size: 0.8em;
}
.content-wrapper .article-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
@media (min-width: 700px) {
  .content-wrapper .article-wrapper {
    max-width: 900px;
  }
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper {
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
}
.content-wrapper .article-wrapper .child {
  padding-top: 60px;
  width: 100%;
  max-width: 900px;
  position: relative;
  margin: 0 auto;
}
.content-wrapper .article-wrapper .child .wp-post-image {
  width: 100%;
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper .child .wp-post-image {
    margin: 0;
    max-width: 900px;
  }
}
.content-wrapper .article-wrapper .child article {
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content-wrapper .article-wrapper .child article h1 {
  margin: 0;
  font-family: 'Cherry Swash';
  font-size: 2.5em;
  padding: 0em 0 0.5em 0;
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper .child article h1 {
    padding: 0.5em 1.1em 0.2em 1.1em;
    font-size: 4em;
  }
}
.content-wrapper .article-wrapper .child article .date-and-author {
  display: block;
  text-align: center;
  position: relative;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.4);
  padding: 0 1.1em 0em 1.1em;
}
.content-wrapper .article-wrapper .child article .date-and-author a {
  color: rgba(255, 0, 0, 0.9);
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper .child article .date-and-author {
    padding-top: 1.1em;
    color: rgba(0, 0, 0, 0.4);
    font-size: 1em;
  }
}
.content-wrapper .article-wrapper .child article .date-and-author .author {
  color: rgba(0, 0, 0, 0.8);
}
.content-wrapper .article-wrapper .child article h2 {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.1em;
  margin: 0;
  padding: 2em 1.1em 1.1em 2em;
  font-style: italic;
  font-weight: normal;
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper .child article h2 {
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.8em;
  }
}
.content-wrapper .article-wrapper .child article h3 {
  margin-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.5em;
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper .child article h3 {
    font-size: 2.5em;
  }
}
.content-wrapper .article-wrapper .child article p {
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.4em;
  padding-left: 1.1em;
  padding-right: 1.1em;
}
.content-wrapper .article-wrapper .child article p a {
  color: rgba(255, 0, 0, 0.9);
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper .child article p {
    padding-left: 4em;
    padding-right: 4em;
  }
}
.content-wrapper .article-wrapper .child article p:first-of-type:first-letter {
  float: left;
  font-size: 3em;
  font-family: 'Cherry Swash';
  color: #ffffff;
  padding: 4px;
  background-color: #ff0000;
  margin-right: 0.2em;
  line-height: 90%;
  text-shadow: 0.05em 0.05em rgba(0, 0, 0, 0.1);
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper .child article p:first-of-type:first-letter {
    font-size: 3em;
  }
}
.content-wrapper .article-wrapper .child article p img {
  max-width: 100%;
}
.content-wrapper .article-wrapper .child article p img.block {
  display: block;
}
.content-wrapper .article-wrapper .child article p img.right {
  float: right;
  padding: 0.4em 0 0.4em 0.4em;
}
.content-wrapper .article-wrapper .child article p img.left {
  float: left;
  padding: 0.4em 0.4em 0 0.4em;
}
.content-wrapper .article-wrapper .child article p img:after {
  clear: both;
}
.content-wrapper .article-wrapper .child article p:last-of-type {
  padding-bottom: 20px;
}
.content-wrapper .article-wrapper .child article blockquote p {
  color: rgba(255, 0, 0, 0.9);
  font-style: italic;
  font-size: 1.2em;
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper .child article blockquote p {
    font-size: 1.6em;
  }
}
.content-wrapper .article-wrapper .child article blockquote p:first-of-type:first-letter {
  float: none;
  font-family: 'Droid Sans';
  color: rgba(255, 0, 0, 0.9);
  font-style: italic;
  padding: 0 0 0 0;
  text-shadow: auto;
  font-size: 1.2em;
  line-height: auto;
  margin: 0 0 0 0;
  background-color: white;
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper .child article blockquote p:first-of-type:first-letter {
    font-size: 1em;
  }
}
.content-wrapper .article-wrapper .child article blockquote.block {
  display: block;
  padding-left: 2em;
  padding-right: 2em;
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper .child article blockquote.block {
    padding-left: 4em;
    padding-right: 4em;
  }
}
.content-wrapper .article-wrapper .child article blockquote.right {
  float: right;
}
@media (min-width: 1000px) {
  
}
.content-wrapper .article-wrapper .child article blockquote.left {
  float: left;
}
@media (min-width: 1000px) {
  
}
.content-wrapper .article-wrapper .child article ol {
  text-align: left;
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper .child article ol {
    padding-left: 5.2em;
    padding-right: 5.2em;
  }
}
.content-wrapper .article-wrapper .child article ol li {
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
}
.content-wrapper .article-wrapper .child article ol li:hover {
  border-bottom: 3px solid rgba(255, 0, 0, 0.9);
}
.content-wrapper .article-wrapper .child article ol li:first-line {
  font-weight: normal;
  padding: 4px;
  color: #ffffff;
  background-color: rgba(255, 0, 0, 0.9);
  border-bottom: 3px solid rgba(255, 0, 0, 0.9);
}
.gallery-row {
  position: relative;
  text-align: left;
}
.gallery-row:before {
  position: absolute;
  content: "Galleri";
  color: #ffffff;
  background-color: rgba(255, 0, 0, 0.9);
  padding: 10px;
  top: -5px;
  left: 1.1em;
  z-index: 102;
}
@media (min-width: 1000px) {
  .gallery-row:before {
    top: -20px;
    left: 4em;
  }
}
@media (min-width: 1000px) {
  .gallery-row {
    margin-top: 3em;
    height: 150px;
  }
}
.gallery-row + .gallery-row {
  margin-top: 0px;
}
.gallery-row img {
  width: 100%;
  position: relative;
  display: inline-block;
  z-index: 101;
}
@media (min-width: 1000px) {
  .gallery-row img {
    position: absolute;
    width: 25%;
    height: 150px;
    z-index: 101;
  }
  .gallery-row img:nth-of-type(1) {
    left: 0;
  }
  .gallery-row img:nth-of-type(2) {
    left: 25%;
  }
  .gallery-row img:nth-of-type(3) {
    left: 50%;
  }
  .gallery-row img:nth-of-type(4) {
    left: 75%;
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  .gallery-row img:hover {
    margin-left: -20px;
    margin-top: -10px;
    width: 30%;
    height: 180px;
    z-index: 103;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  }
}
.gallery-row img:first-of-type {
  text-align: left;
}
.gallery-row img:first-of-type:before {
  content: "Galleri";
  position: absolute;
  padding: 20px;
  display: block;
  z-index: 400;
}
.gallery-row .fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000001;
}
.gallery-row .fullscreen img {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: auto;
  top: 27%;
  vertical-align: middle;
}
.gallery-row .fullscreen img:hover {
  margin: 0 auto;
  margin-top: 2.5%;
  width: 90%;
  height: auto;
  z-index: 10001;
  box-shadow: 0;
}
@media (min-width: 1000px) {
  .gallery-row .fullscreen img {
    top: auto;
    margin-top: 1.25%;
    width: auto;
    height: 95%;
  }
  .gallery-row .fullscreen img:hover {
    margin-top: 1.25%;
    width: auto;
    height: 95%;
  }
}
/* end logo box */
/* helper classes */
.hidden {
  display: none;
}
.clear {
  clear: both;
}
.search {
  display: none;
}
