@import url(http://fonts.googleapis.com/css?family=Cherry+Swash);

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
/** MIXINS **/
@-webkit-keyframes aboutMe {
  10% {
    height: 100px;
  }
  15% {
    height: 90px;
  }
  100% {
    border-radius: 0;
    height: 500px;
  }
}
@-moz-keyframes aboutMe {
  10% {
    height: 100px;
  }
  15% {
    height: 90px;
  }
  100% {
    border-radius: 0;
    height: 500px;
  }
}
@-ms-keyframes aboutMe {
  10% {
    height: 100px;
  }
  15% {
    height: 90px;
  }
  100% {
    border-radius: 0;
    height: 500px;
  }
}
@-o-keyframes aboutMe {
  10% {
    height: 100px;
  }
  15% {
    height: 90px;
  }
  100% {
    border-radius: 0;
    height: 500px;
  }
}
@keyframes aboutMe {
  10% {
    height: 100px;
  }
  15% {
    height: 90px;
  }
  100% {
    border-radius: 0;
    height: 500px;
  }
}
@-webkit-keyframes blinkingLogo {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.3;
  }
  71% {
    opacity: 0.4;
  }
  72% {
    opacity: 0.3;
  }
  73% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
@-moz-keyframes blinkingLogo {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.3;
  }
  71% {
    opacity: 0.4;
  }
  72% {
    opacity: 0.3;
  }
  73% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
@-ms-keyframes blinkingLogo {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.3;
  }
  71% {
    opacity: 0.4;
  }
  72% {
    opacity: 0.3;
  }
  73% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
@-o-keyframes blinkingLogo {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.3;
  }
  71% {
    opacity: 0.4;
  }
  72% {
    opacity: 0.3;
  }
  73% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes blinkingLogo {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.3;
  }
  71% {
    opacity: 0.4;
  }
  72% {
    opacity: 0.3;
  }
  73% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
@-webkit-keyframes colorcycle {
  25% {
    letter-spacing: -5px;
  }
}
@-moz-keyframes colorcycle {
  25% {
    letter-spacing: -5px;
  }
}
@-ms-keyframes colorcycle {
  25% {
    letter-spacing: -5px;
  }
}
@-o-keyframes colorcycle {
  25% {
    letter-spacing: -5px;
  }
}
@keyframes colorcycle {
  25% {
    letter-spacing: -5px;
  }
}
@-webkit-keyframes jumphover {
  100% {
    padding-top: 20px;
  }
}
@-moz-keyframes jumphover {
  100% {
    padding-top: 20px;
  }
}
@-ms-keyframes jumphover {
  100% {
    padding-top: 20px;
  }
}
@-o-keyframes jumphover {
  100% {
    padding-top: 20px;
  }
}
@keyframes jumphover {
  100% {
    padding-top: 20px;
  }
}
/** MEDIA QUERY VARIABLES **/
/** FONTS **/
/** FONT SIZES **//** COLOR VARIABLES **/
/** Third party mixins **/
/** Snatched from danieltotts Less-CSS-Toolkit **/
/** https://github.com/danieltott/Less-CSS-Toolkit/blob/master/toolkit.less **/
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(0, 0, 0, 0.08);
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: auto;
  font-family: 'Droid Sans';
}
a {
  color: #000000;
  text-decoration: none;
}
@media (min-width: 1025px) {
  a:hover {
    text-decoration: none;
  }
}
.content-wrapper {
  position: relative;
  height: 100%;
}
.content-wrapper .top-menu {
  position: fixed;
  margin-top: 0;
  top: 0;
  z-index: 10000;
  background-color: #151426;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  margin: 0;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  display: block;
}
.content-wrapper .top-menu.fixed {
  position: fixed;
  top: 0;
  margin-top: 0;
  z-index: 10000;
}
@media (min-width: 1000px) {
  .content-wrapper .top-menu {
    top: auto;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    margin-top: 400px;
    padding: 0;
    /* Adjustment classes */
  
  }
  .content-wrapper .top-menu.hanging-header {
    height: 60px;
  }
  .content-wrapper .top-menu.hanging-header .top-menu-centered .hack-livet-logo {
    font-size: 3.2em;
  }
  .content-wrapper .top-menu.hanging-header .top-menu-centered .hack-livet-tagline {
    font-size: 0.8em;
  }
}
@media (min-width: 1281px) {
  .content-wrapper .top-menu {
    margin-top: 500px;
  }
}
.content-wrapper .top-menu .top-menu-centered {
  margin: 0 auto;
  margin-left: 0;
  display: inline-block;
}
@media (min-width: 1000px) {
  .content-wrapper .top-menu .top-menu-centered {
    margin-left: 27px;
  }
}
.content-wrapper .top-menu .top-menu-centered .hack-livet-logo {
  font-size: 2em;
  padding: 0;
  margin: 0;
  display: inline;
  color: #000000;
  font-family: 'Cherry Swash';
  font-weight: normal;
  letter-spacing: -3px;
  float: left;
  text-shadow: 2px 2px rgba(255, 0, 0, 0.2);
}
@media (min-width: 700px) {
  .content-wrapper .top-menu .top-menu-centered .hack-livet-logo {
    font-size: 3em;
  }
}
@media (min-width: 1000px) {
  .content-wrapper .top-menu .top-menu-centered .hack-livet-logo {
    font-size: 5em;
  }
}
.content-wrapper .top-menu .top-menu-centered .hack-livet-logo.active a {
  position: relative;
  z-index: 10001;
  color: #ffffff;
}
.content-wrapper .top-menu .top-menu-centered .hack-livet-tagline {
  display: none;
}
@media (min-width: 700px) {
  .content-wrapper .top-menu .top-menu-centered .hack-livet-tagline {
    display: inline-block;
    float: left;
    font-size: 0.8em;
    margin-left: 1.8em;
    color: rgba(0, 0, 0, 0.6);
    font-style: italic;
    font-weight: normal;
    width: 105px;
    padding-top: 8px;
    text-align: left;
    border-bottom: 3px solid rgba(255, 0, 0, 0.9);
  }
}
@media (min-width: 1000px) {
  .content-wrapper .top-menu .top-menu-centered .hack-livet-tagline {
    margin-left: 2em;
    cursor: pointer;
    font-size: 1em;
  }
}
.content-wrapper .top-menu .top-menu-centered .hack-livet-tagline.active {
  position: relative;
  z-index: 10001;
  color: #ffffff;
}
.content-wrapper .top-menu .about-me-wrapper {
  position: absolute;
  height: 0;
  overflow: hidden;
  width: 100%;
  bottom: 0px;
}
.content-wrapper .top-menu .about-me-wrapper.active {
  position: absolute;
  background-color: #232323;
  -webkit-animation: aboutMe 100ms 0s linear forwards;
  -moz-animation: aboutMe 100ms 0s linear forwards;
  -ms-animation: aboutMe 100ms 0s linear forwards;
  animation: aboutMe 100ms 0s linear forwards;
}
.content-wrapper .top-menu .about-me-wrapper .about-me-centered {
  position: relative;
  margin: 0 auto;
}
.content-wrapper .top-menu .about-me-wrapper .about-me-centered p {
  padding: 10px;
  position: relative;
  margin: 0 auto;
  color: #808080;
  text-align: left;
  max-width: 400px;
  font-size: 1em;
  line-height: 1.3em;
  border-bottom: 3px solid rgba(255, 0, 0, 0.9);
}
.content-wrapper .top-menu .about-me-wrapper .about-me-centered p:first-line {
  font-size: 1.2em;
  color: #cccccc;
  border-bottom: 1px solid #ffffff;
}
.content-wrapper .top-menu .about-me-wrapper .about-me-close-button {
  position: absolute;
  top: 0.5em;
  border: 3px solid #484848;
  border-radius: 40px 40px 40px 40px;
  right: 0.5em;
  font-size: 1.4em;
  width: 40px;
  background-color: #929292;
  height: 40px;
  color: #484848;
  padding: 0px;
}
.content-wrapper .top-menu .about-me-wrapper .about-me-close-button:hover {
  background-color: #ffffff;
  border: 3px solid rgba(255, 0, 0, 0.9);
}
.content-wrapper .article-wrapper {
  max-width: 100%;
  padding-top: 47px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 700px) {
  .content-wrapper .article-wrapper {
    padding-top: 67px;
  }
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper {
    padding-top: 0;
  }
}
.content-wrapper .article-wrapper .child {
  *display: inline;
  *zoom: 1;
  /* For IE7*/

  z-index: 0;
  display: block;
  position: relative;
  width: 100%;
  background-color: #000000;
  /* Base article */

}
.content-wrapper .article-wrapper .child:active h2:after {
  text-decoration: underline;
}
.content-wrapper .article-wrapper .child .ribbon {
  position: absolute;
  z-index: 100;
  padding: 0.4em 0.4em 0.4em 1.4em;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 0.4em;
}
.content-wrapper .article-wrapper .child .ribbon.newest {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(34, 86, 136, 0.3)), color-stop(1, rgba(64, 138, 208, 0.6)));
  background-color: rgba(50, 115, 176, 0.42);
  background-image: -webkit-linear-gradient(315deg, rgba(34, 86, 136, 0.3), rgba(64, 138, 208, 0.6));
  background-image: -o-linear-gradient(315deg, rgba(34, 86, 136, 0.3), rgba(64, 138, 208, 0.6));
  background-image: -moz-linear-gradient(315deg, rgba(34, 86, 136, 0.3), rgba(64, 138, 208, 0.6));
  background-image: linear-gradient(135deg, rgba(34, 86, 136, 0.3), rgba(64, 138, 208, 0.6));
}
.content-wrapper .article-wrapper .child .ribbon.newer {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(74, 60, 118, 0.3)), color-stop(1, rgba(121, 102, 178, 0.6)));
  background-color: rgba(100, 83, 151, 0.42);
  background-image: -webkit-linear-gradient(315deg, rgba(74, 60, 118, 0.3), rgba(121, 102, 178, 0.6));
  background-image: -o-linear-gradient(315deg, rgba(74, 60, 118, 0.3), rgba(121, 102, 178, 0.6));
  background-image: -moz-linear-gradient(315deg, rgba(74, 60, 118, 0.3), rgba(121, 102, 178, 0.6));
  background-image: linear-gradient(135deg, rgba(74, 60, 118, 0.3), rgba(121, 102, 178, 0.6));
}
.content-wrapper .article-wrapper .child .ribbon.new {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(122, 24, 61, 0.3)), color-stop(1, rgba(207, 41, 104, 0.6)));
  background-color: rgba(169, 33, 85, 0.42);
  background-image: -webkit-linear-gradient(315deg, rgba(122, 24, 61, 0.3), rgba(207, 41, 104, 0.6));
  background-image: -o-linear-gradient(315deg, rgba(122, 24, 61, 0.3), rgba(207, 41, 104, 0.6));
  background-image: -moz-linear-gradient(315deg, rgba(122, 24, 61, 0.3), rgba(207, 41, 104, 0.6));
  background-image: linear-gradient(135deg, rgba(122, 24, 61, 0.3), rgba(207, 41, 104, 0.6));
}
.content-wrapper .article-wrapper .child:nth-child(5),
.content-wrapper .article-wrapper .child:nth-child(6),
.content-wrapper .article-wrapper .child:nth-child(7) {
  display: none;
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper .child {
    vertical-align: top;
    overflow: hidden;
    height: 270px;
    width: 30%;
    display: inline-block;
    margin-left: 1%;
  }
  .content-wrapper .article-wrapper .child:nth-child(1) {
    margin-top: 0;
  }
  .content-wrapper .article-wrapper .child:nth-child(1) .child-overlay {
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(0, 0, 0, 0.3)), color-stop(1, rgba(64, 138, 208, 0.3)));
    background-color: rgba(26, 55, 83, 0.3);
    background-image: -webkit-linear-gradient(315deg, rgba(0, 0, 0, 0.3), rgba(64, 138, 208, 0.3));
    background-image: -o-linear-gradient(315deg, rgba(0, 0, 0, 0.3), rgba(64, 138, 208, 0.3));
    background-image: -moz-linear-gradient(315deg, rgba(0, 0, 0, 0.3), rgba(64, 138, 208, 0.3));
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(64, 138, 208, 0.3));
  }
  .content-wrapper .article-wrapper .child:nth-child(2) .child-overlay {
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(0, 0, 0, 0.3)), color-stop(1, rgba(121, 102, 178, 0.3)));
    background-color: rgba(48, 41, 71, 0.3);
    background-image: -webkit-linear-gradient(315deg, rgba(0, 0, 0, 0.3), rgba(121, 102, 178, 0.3));
    background-image: -o-linear-gradient(315deg, rgba(0, 0, 0, 0.3), rgba(121, 102, 178, 0.3));
    background-image: -moz-linear-gradient(315deg, rgba(0, 0, 0, 0.3), rgba(121, 102, 178, 0.3));
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(121, 102, 178, 0.3));
  }
  .content-wrapper .article-wrapper .child:nth-child(3) .child-overlay {
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(0, 0, 0, 0.3)), color-stop(1, rgba(207, 41, 104, 0.3)));
    background-color: rgba(83, 16, 42, 0.3);
    background-image: -webkit-linear-gradient(315deg, rgba(0, 0, 0, 0.3), rgba(207, 41, 104, 0.3));
    background-image: -o-linear-gradient(315deg, rgba(0, 0, 0, 0.3), rgba(207, 41, 104, 0.3));
    background-image: -moz-linear-gradient(315deg, rgba(0, 0, 0, 0.3), rgba(207, 41, 104, 0.3));
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(207, 41, 104, 0.3));
  }
  .content-wrapper .article-wrapper .child:nth-child(1),
  .content-wrapper .article-wrapper .child:nth-child(2),
  .content-wrapper .article-wrapper .child:nth-child(3) {
    height: 400px;
    float: left;
  }
  .content-wrapper .article-wrapper .child:nth-child(1) article h1,
  .content-wrapper .article-wrapper .child:nth-child(2) article h1,
  .content-wrapper .article-wrapper .child:nth-child(3) article h1 {
    font-size: 2em;
    padding-left: 20px;
    padding-right: 20px;
    word-wrap: break-word;
  }
  .content-wrapper .article-wrapper .child:nth-child(1) article h1 a,
  .content-wrapper .article-wrapper .child:nth-child(2) article h1 a,
  .content-wrapper .article-wrapper .child:nth-child(3) article h1 a {
    color: #FFFFFF;
  }
  .content-wrapper .article-wrapper .child:nth-child(1) article .date-and-author,
  .content-wrapper .article-wrapper .child:nth-child(2) article .date-and-author,
  .content-wrapper .article-wrapper .child:nth-child(3) article .date-and-author {
    color: rgba(255, 255, 255, 0.5);
    text-align: right;
    padding: 20px;
    font-size: 0.8em;
  }
  .content-wrapper .article-wrapper .child:nth-child(1) article .date-and-author .author a,
  .content-wrapper .article-wrapper .child:nth-child(2) article .date-and-author .author a,
  .content-wrapper .article-wrapper .child:nth-child(3) article .date-and-author .author a {
    color: #FFFFFF;
  }
  .content-wrapper .article-wrapper .child:nth-child(1) article h2,
  .content-wrapper .article-wrapper .child:nth-child(2) article h2,
  .content-wrapper .article-wrapper .child:nth-child(3) article h2 {
    display: none;
  }
  .content-wrapper .article-wrapper .child:nth-child(1) {
    position: relative;
    margin: 0;
    padding: 0;
    width: 33%;
  }
  .content-wrapper .article-wrapper .child:nth-child(2) {
    position: relative;
    margin: 0;
    padding: 0;
    width: 34%;
  }
  .content-wrapper .article-wrapper .child:nth-child(3) {
    position: relative;
    margin: 0;
    padding: 0;
    width: 33%;
  }
  .content-wrapper .article-wrapper .child:nth-child(5),
  .content-wrapper .article-wrapper .child:nth-child(6),
  .content-wrapper .article-wrapper .child:nth-child(7) {
    display: inline-block;
    margin-top: 140px;
  }
  .content-wrapper .article-wrapper .child:nth-child(1n+4) {
    background-color: #FFFFFF;
    margin-bottom: 20px;
    height: auto;
  }
  .content-wrapper .article-wrapper .child:nth-child(1n+4) .child-overlay {
    display: none;
  }
  .content-wrapper .article-wrapper .child:nth-child(1n+4) article {
    position: relative;
    bottom: auto;
    background-color: #FFFFFF;
    box-shadow: 0 0 0 0 #ffffff;
    margin-bottom: 20px;
  }
  .content-wrapper .article-wrapper .child:nth-child(1n+4) article h1 {
    color: rgba(0, 0, 0, 0.6);
  }
  .content-wrapper .article-wrapper .child:nth-child(1n+4) article .date-and-author {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.8em;
  }
  .content-wrapper .article-wrapper .child:nth-child(1n+4) article h2 {
    font-size: 0.8em;
    text-align: left;
    padding: 10px;
    line-height: 1.6em;
    color: rgba(0, 0, 0, 0.8);
  }
}
@media (min-width: 1000px) and (min-width: 1025px) {
  .content-wrapper .article-wrapper .child:hover h1 a {
    background-color: rgba(255, 0, 0, 0.9);
  }
}
@media (min-width: 1000px) and (min-width: 1025px) {
  .content-wrapper .article-wrapper .child:nth-child(1):hover .child-overlay,
  .content-wrapper .article-wrapper .child:nth-child(2):hover .child-overlay,
  .content-wrapper .article-wrapper .child:nth-child(3):hover .child-overlay {
    background-image: none;
    background-color: rgba(64, 138, 208, 0);
    -webkit-transition: box-shadow 100ms linear 0s;
    -moz-transition: box-shadow 100ms linear 0s;
    -ms-transition: box-shadow 100ms linear 0s;
    -o-transition: box-shadow 100ms linear 0s;
    display: none;
  }
  .content-wrapper .article-wrapper .child:nth-child(1):hover article,
  .content-wrapper .article-wrapper .child:nth-child(2):hover article,
  .content-wrapper .article-wrapper .child:nth-child(3):hover article {
    -webkit-animation: jumphover 300ms 0s ease forwards;
    -moz-animation: jumphover 300ms 0s ease forwards;
    -ms-animation: jumphover 300ms 0s ease forwards;
    animation: jumphover 300ms 0s ease forwards;
  }
}
@media (min-width: 1000px) and (min-width: 1025px) {
  .content-wrapper .article-wrapper .child:nth-child(1n+4):hover h1 a,
  .content-wrapper .article-wrapper .child:nth-child(1n+4):hover h1 a,
  .content-wrapper .article-wrapper .child:nth-child(1n+4):hover p a {
    color: #FFFFFF;
    background-color: rgba(255, 0, 0, 0.8);
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  .content-wrapper .article-wrapper .child:nth-child(1n+4) .article-header-wrapper img {
    width: 100%;
    height: auto;
    left: 0;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }
}
@media (min-width: 1281px) {
  .content-wrapper .article-wrapper .child:nth-child(1),
  .content-wrapper .article-wrapper .child:nth-child(2),
  .content-wrapper .article-wrapper .child:nth-child(3) {
    height: 500px;
  }
}
.content-wrapper .article-wrapper .child .child-overlay {
  display: none;
}
@media (min-width: 1025px) {
  .content-wrapper .article-wrapper .child .child-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1) inset;
    -webkit-transition: box-shadow 100ms linear 0s;
    -moz-transition: box-shadow 100ms linear 0s;
    -ms-transition: box-shadow 100ms linear 0s;
    -o-transition: box-shadow 100ms linear 0s;
  }
}
.content-wrapper .article-wrapper .child article {
  position: relative;
  z-index: 100;
  margin-top: -100px;
  background-color: #ffffff;
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper .child article {
    margin-top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.15) inset;
    position: absolute;
    height: auto;
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.content-wrapper .article-wrapper .child article h1 {
  position: relative;
  font-family: 'Cherry Swash', cursive;
  font-size: 1.8em;
  padding: 10px;
  margin: 0 0 0 0;
  font-weight: normal;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0;
  line-height: 1.2em;
  z-index: 125;
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper .child article h1 {
    text-align: left;
    font-size: 1.7em;
    line-height: 1.2em;
    margin: 0 0 0 0;
  }
}
.content-wrapper .article-wrapper .child article h2 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8em;
  line-height: 1.6em;
  opacity: 0.6;
  padding: 1.2em;
  margin: 0;
  font-weight: normal;
  text-align: center;
  position: relative;
  z-index: 125;
  padding-bottom: 20px;
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper .child article h2 {
    padding: 0;
    margin-bottom: 20px;
  }
}
.content-wrapper .article-wrapper .child article img {
  position: relative;
  width: 100%;
}
.content-wrapper .article-wrapper .child article h3 {
  display: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  line-height: 1.6;
  text-align: left;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper .child article h3 {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.content-wrapper .article-wrapper .child article h3:after {
  content: ' Les mer..';
  color: rgba(255, 0, 0, 0.8);
}
.content-wrapper .article-wrapper .child article p {
  display: none;
}
.content-wrapper .article-wrapper .child .article-header-wrapper img {
  position: relative;
  width: 100%;
}
@media (min-width: 1000px) {
  .content-wrapper .article-wrapper .child .article-header-wrapper img {
    z-index: 0;
    position: absolute;
    width: auto;
    height: 100%;
    left: 0;
    margin-top: 0;
    margin-left: 1%;
    margin-right: 0;
  }
}
.left-menu-container {
  position: fixed;
  width: 50%;
  z-index: 0;
  background-color: #444;
  color: #FFFFFF;
  height: 100%;
  left: 0;
}
.left-menu-container ul {
  float: left;
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}
.left-menu-container ul li {
  cursor: pointer;
  border-bottom: 1px solid #777;
}
.left-menu-container ul li:first-child {
  padding: 20px;
  font-family: 'Cherry Swash';
  font-size: 20px;
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  
}
.left-menu-container ul li button {
  padding: 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 16px;
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  
}
/* end logo box */
/* helper classes */
.hidden {
  display: none;
}
/** Color specific changes **/
/** No inheritance because of specificity **/
.search {
  display: none;
}
